@using Microsoft.EntityFrameworkCore;

@model Info
@{
    var role = Context.Session.GetString("Type");

}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Level @Model.level - @Model.subject - @Model.service </title>
    <style>
       
        .pdf-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            grid-auto-rows: 225px;
            gap: 60px;
            padding: 20px;
            margin-left:30px;
            position: relative;


        }

        .pdf-item {
            position: relative;
            border-radius: 8px;
            background-color:red;
            color:red;
            width:210px;
            height:250px;
            overflow: hidden;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease-in-out;
        }

        .pdf-image {
            cursor: pointer;
            width: 200px;
            height: 200px;
            object-fit: cover;
            position:relative;
            top:30px;
            left:5px;

            border-radius: 8px 8px 0 0;
            transition: transform 0.3s ease-in-out;
        }

        .pdf-item:hover .pdf-image  {
            transform: scaleX(1.1);
        }

        .pdf-viewer {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
            max-width: 800px;
            height: 90%;
            max-height: 600px;
            z-index: 1000;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            padding: 20px;
            overflow: auto;
        }

        .close-button {
            position: absolute;
            top: 10px;
            right: 10px;
            background: none;
            border: none;
            font-size: 16px;
            cursor: pointer;
            color: #333;
            z-index: 1001;
        }

            .close-button:hover {
                color: #f00;
            }

        .pdf-viewer object,
        .pdf-viewer embed {
            width: 100%;
            height: calc(100% - 30px);
            margin-top: 20px;
        }

        .download-link {
            position: absolute;
            top: 40px;
            right: 10px;
            display: inline;
            text-align: center;
            text-decoration: none;
            color: #fff; /* White text color */
            background-color: darkgreen; /* Green background color */
            padding-left: 4px; /* Increased padding */
            border: 1px solid darkgreen; /* Green border */
            border-radius: 10px;
            font-size: 13px; /* Increased font size */
            font-weight: bold;
            transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
            outline: none;
            transition: transform 0.3s ease-in-out;
        }

            .download-link:hover {
                background-color: green; /* Darker green on hover */
                border-color: green;
                color:white;
              
            }

            .download-link i {
                margin-right: 5px; /* Add margin between icon and text */
            }

        .preview-text {
            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 13px;
            color: black;
            background-color: lightgray;
            padding-left:100% ; /* Adjust padding to your preference */
            padding-right: 100%; /* Adjust padding to your preference */

            border-radius: 4px; /* Add some border radius for a nicer look */
            opacity: 0.7;
            white-space: nowrap; /* Make sure the text stays in one line */
            }

        .add-service-button {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            bottom: 5px; /* Adjust as needed */
            display: inline-block;
            padding: 10px 20px;
            text-align: center;
            font-size: 16px;
            color: green;
            font-weight: bold;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
        }



        .add-service-button:hover {
        }

        .item-name {
            position: relative;
            bottom: 200px;
            left:40%;
            
            margin-top:3px;
        
            transform: translateX(-50%);
            font-size: 15px;
            font-weight:bold;
            color: black;
            padding-left: 100%; /* Adjust padding to your preference */
            padding-right: 100%; /* Adjust padding to your preference */

            border-radius: 4px; /* Add some border radius for a nicer look */
            opacity: 0.7;
            white-space: nowrap; /* Make sure the text stays in one line */
        }
        #info{
            margin-top:40px;
            margin-left:380px;
            margin-bottom:20px;

        }

        .item-dlt {
            position: relative;
            bottom: 228px;
            left:290px;
            margin-top: 3px;
            transform: translateX(-50%);
            font-size: 16px;
            font-weight: bold;
            color: red;
           
            transition: transform 0.3s ease-in-out;
            border-radius: 4px; /* Add some border radius for a nicer look */
            opacity: 0.7;
            white-space: nowrap; /* Make sure the text stays in one line */
        }
        .item-dlt:hover{
                font-size:20px;
            }

        .message-box {
            background-color: forestgreen; /* Green background color */
            opacity:0.7;
            color: #fff; /* White text color */
            width:210px;
            text-align:center;
            margin-left:530px;
            padding-top:3px;
            height:30px;
            border-radius: 5px; /* Rounded corners */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow for depth */
        }

        .message-text {
            font-size: 16px; /* Font size of the message */
            font-weight: bold; /* Bold text */
        }

    </style>

</head>
<body>

    <div id="info">  <p class="section-title px-5"><span class="px-3"> @Model.subject - Level @Model.level - Chapter @Model.chapter - Lesson @Model.lesson </span></p></div>
    <div class="text-center pb-2">
        <h1 class="mb-4">@Model.service</h1>
    </div>


    @if (TempData["Message"] != null)
    {
        <div class="message-box">
            <div class="message-text">@TempData["Message"]</div>
        </div>
    }

    <div class="pdf-container">
        @{
            var index = 0;
        }
        @foreach (var service in Model.Services)
        {
            <div class="pdf-item">


                <img class="pdf-image" src="~/img/@{@Model.subject}.jpg" alt="Click to view PDF" data-index="@index">
                <div class="item-name"><i class="bi bi-filetype-pdf" style="margin-left:-75px;"></i> @service.ServiceName</div>
                <form asp-controller="Services" asp-action="Delete" method="post" onsubmit="return confirmDelete();">
                    <input type="hidden" name="id" value="@service.Id" />
                    <input type="hidden" name="lvl" value="@Model.level" />
                    <input type="hidden" name="lsn" value="@Model.lesson" />
                    <input type="hidden" name="ch" value="@Model.chapter" />
                    <input type="hidden" name="sub" value="@Model.subject" />
                    <input type="hidden" name="srvc" value="@service.ServiceType" />
                    @if (role == "admin")
                    {
                        <div class="item-dlt">
                            <button type="submit" style="cursor: pointer; background: none; border: none;">
                                <i class="bi bi-trash" style="color:red;"></i>
                            </button>
                        </div>
                    }
                </form>

                <div class="preview-text">Tap to preview</div>
                <div class="pdf-viewer" id="pdfViewer@(index)">
                    <button class="close-button">Close</button>
                
                        <object data="@Url.Content("~/"+service.FilePath)" type="application/pdf" width="100%" height="600px">
                            <embed src="@Url.Content("~/"+service.FilePath)" type="application/pdf" width="100%" height="600px" />
                        </object>
                    </div>
                    <a href="@Url.Content("~/"+service.FilePath)" class="download-link" download><i class="bi bi-download"></i></a>

            </div>
            index++;
        }

    </div>

    @if (role == "admin")
    {
       <a asp-controller="Services" asp-action="AddService" asp-route-lvl="@Model.level" asp-route-sub="@Model.subject" asp-route-ch="@Model.chapter" asp-route-lsn="@Model.lesson" asp-route-srvc="@Model.service" class="add-service-button">Add New @Model.service</a>

    }
    <script>
        document.querySelectorAll('.pdf-image').forEach(image => {
            image.addEventListener('click', function () {
                const index = this.getAttribute('data-index');
                document.getElementById('pdfViewer' + index).style.display = 'block';
            });
        });

        document.querySelectorAll('.close-button').forEach(button => {
            button.addEventListener('click', function () {
                this.parentElement.style.display = 'none';
            });
        });
    </script>
    <script>
        function confirmDelete() {
            // Display confirmation dialog
            if (confirm("Are you sure you want to delete this item?")) {
                // User confirmed, proceed with deletion
                return true;
            } else {
                // User canceled, do nothing
                return false;
            }
        }
    </script>
</body>
</html>
